.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
  padding: 0;
}

.products__single {
  /* height: 150px; */
  background-color: rgb(220, 220, 220);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.products__single > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-bottom: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 15px 0;
}

.pagination > span {
  padding: 15px 20px;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination__selected {
  background-color: rgb(220, 220, 220);
}

.pagination__disable {
  opacity: 0;
}
